body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
    padding-right: 80px;
    height: 100px;
    background-color: #6a3460;
}

.logoHeader{
    width: 109.09px;
    height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
  
    li:hover {
      color: black;
    }
  }
  
  nav ul li {
    font-size: 40px;
    color: white;
  }