@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Oleo+Script:wght@400;700&display=swap');


body{
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Oleo Script", system-ui;
    font-size: 40px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
    padding-right: 80px;
    height: 100px;
    background-color: #6a3460;
}

.logoHeader{
    width: 109.09px;
    height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
  
    li:hover {
      color: black;
    }
}
  
nav ul li {
    font-size: 40px;
    color: white;
}

.hero{
    position: relative;
}

.imageHero{
    width: 100%;
    height: auto;
  }

.titreHero{
    position: absolute;
    color: white;
    background-color: #6a3460;
    width: 507px;
    height: 101.15px;
    top: 263px;
    left: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
